img {
    float: left;
}

h1 {
    position: center;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

p { 
    width: 600px;
    padding: 10px;
    float: left;
    margin: 0 20px 0 0;
}